* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /* font-family: monospace; */
}

.mathml-box {
    display: block;
    position: relative;
    height: 100vh;
}
.top-bar {
    height: 40px;
    width: 100%;
    background-color: #fff;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    z-index: 1000;
    position: relative;
    /* border: none; */
    
    /* display: flex;
    align-items: start;
    justify-content: left; */
}

.app-name {
    font-weight: bold; 
    font-size: 21px;
    margin: 0px;
    user-select: none; 
    background-color: #fff;
    width: 90px;
    padding: 4px;
    color: #088
}

.app-name:hover {
    /* color: black; */
    cursor: pointer;
}

.tool-bar {
    /* height: 100%; */
    width: 20px;
    background-color: #fff;
    display: flex;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, .14);
    z-index: 2;
}

.side-box {
    width: 250px;
    height: 90%;
    /* height: 100px; */
    background-color: #fff;
    position: relative;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, .14);
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
    user-select: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* font-weight:600; */
}

.side-box-content {
    overflow: auto;
    width: 90%;
    height: 90%;
    position: absolute;
    user-select: none;
    display: flex;
    flex-direction: column;
    
}

.side-box-resizer {
    position: absolute;
    right: 0px;
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    cursor: ew-resize;
}

.side-box-resizer-bar {
    height: 5%;
    width: 40%;
    background-color: #ccc;
    border-radius: 20%
}

.topic {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    /* border: 2px solid blue; */
    border-radius: 2px;
    padding: 10px;
    /* border-bottom: 1px solid black; */
    /* border-top: 1px solid black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.topic:hover {
    background-color: #dee;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;

}

#tool-bar-topics{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-left: none;
    border-right: none; */
    
}

#tool-bar-topics:hover {
    cursor: pointer;
    background-color: #eee;
    
}

.main-content {
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    overflow: auto;
}

.main-content-choices {
    display: flex;
}

.main-content-choice {
    height: 40px;
    width: 100px;
    background-color: #eee;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.main-content-choice:hover {
    background-color: #cee;
    cursor: pointer;
}

/* ############################################################################################# */
input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Remove arrows in Chrome, Safari, Edge, and Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove arrows in Internet Explorer */
  input[type="number"] {
    -ms-appearance: textfield;
  }
/* ############################################################################################# */

/* Systems of Linear Equations ==================================================================*/
.equation {
    margin-bottom: 10px;
}

.input-box {
    width: 40px;
    height: 20px;
    margin-right: 2px;
}

.unknown, .operator {
    margin-right: 10px;
}


.solution-choices {
    display: flex;

}

.solution-choice {
    height: 30px;
    background-color: #eee;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    user-select:none;
}

.solution-choice:hover {
    background-color: #cee;
    cursor: pointer;
}

.main-content-block {
    margin-left: 10px;
    width: 100%;
    padding-bottom: 100px;
    /* display: flex; */
}

.visual-choices {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.visual-choices-radio {
    
}

.visual-choices-dimension {
    margin-right: 20px;
}

.visual-solution-choice-box {
    margin-bottom: 30px;
}

canvas {
    image-rendering:auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    
}

.linear-2d-container {
    display: flex;
}

.linear-2d-right {
    margin-right: 20px;
}
/* Systems of Linear Equations ==================================================================*/