<div class="equations-content">
    <p>A system of linear equations with 3 unknowns x<sub>1</sub>, x<sub>2</sub> and x<sub>3</sub></p>
    
    <div class="equation">
        <input class="input-box" id="x1-1" type="number"><span class="unknown">x<sub>1</sub></span> <span class="operator">+</span>
        <input class="input-box" id="x2-1" type="number"><span class="unknown">x<sub>2</sub></span> <span class="operator">+</span>
        <input class="input-box" id="x3-1" type="number"><span class="unknown">x<sub>3</sub></span> <span class="operator">=</span>
        <input class="input-box" id="b1" type="number">
    </div>
    <div class="equation">
        <input class="input-box" id="x1-2" type="number"><span class="unknown">x<sub>1</sub></span> <span class="operator">+</span>
        <input class="input-box" id="x2-2" type="number"><span class="unknown">x<sub>2</sub></span> <span class="operator">+</span>
        <input class="input-box" id="x3-2" type="number"><span class="unknown">x<sub>3</sub></span> <span class="operator">=</span>
        <input class="input-box" id="b2" type="number">
    </div>
    <div class="equation">
        <input class="input-box" id="x1-3" type="number"><span class="unknown">x<sub>1</sub></span> <span class="operator">+</span>
        <input class="input-box" id="x2-3" type="number"><span class="unknown">x<sub>2</sub></span> <span class="operator">+</span>
        <input class="input-box" id="x3-3" type="number"><span class="unknown">x<sub>3</sub></span> <span class="operator">=</span>
        <input class="input-box" id="b3" type="number">
    </div>
    
    <div class="visual-solution-choice-box">
        <p>Visualize solution as:</p>
        <div class="solution-choices">
        <div class="solution-choice">Plane Intersection</div>
        <div class="solution-choice">Linear Combination of Vectors</div>
        </div>
    </div>
    </div>