<div class="equations-content">
<p>A system of linear equations with 2 unknowns x<sub>1</sub> and x<sub>2</sub></p>

<div class="equation">
    <input class="input-box" id="x1-1" type="number"><span class="unknown">x<sub>1</sub></span> <span class="operator">+</span>
    <input class="input-box" id="x2-1" type="number"><span class="unknown">x<sub>2</sub></span> <span class="operator">=</span>
    <input class="input-box" id="b1" type="number">
</div>
<div class="equation">
    <input class="input-box" id="x1-2" type="number"><span class="unknown">x<sub>1</sub></span> <span class="operator">+</span>
    <input class="input-box" id="x2-2" type="number"><span class="unknown">x<sub>2</sub></span> <span class="operator">=</span>
    <input class="input-box" id="b2" type="number">
</div>

<div class="visual-solution-choice-box">
    <p>Visualize solution as:</p>
    <div class="solution-choices">
    <div class="solution-choice">Line Intersection</div>
    <div class="solution-choice">Linear Combination of Vectors</div>
    </div>
</div>
</div>